@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #e60077;
  --color-secondary: teal;
}

body{
  background: linear-gradient(180deg, #ffffff 0%, #b67193 100%);
  /* color: white; */
  min-height: 100vh;
  background-attachment: fixed;
}

.banner-container {
  height: 70vh;
  width: 100%;
}

.banner-container .carousel .slide img {
  max-height: 80vh;
  
}
